@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro');

@font-face{
 font-family:'Hangang';
 font-style:normal;
 font-weight:400;
 src:url('./../fonts/SeoulHangangL.woff') format('woff'),
     url('./../fonts/SeoulHangangL.eot') format('eot');
}

@font-face{
 font-family:'Youth';
 font-style:normal;
 font-weight:400;
 src:url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'),
     url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

*
{
    margin:0px;
    padding:0px;
}

body {
	margin: 10mm 10mm 10mm 10mm;
	overflow-x:hidden;
}

#images img {
	vertical-align: middle;
	width:auto;
	height:90%;
}

h1 {
	text-align:center;
}

#images{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	width:95%;
	height:250px;
	white-space:nowrap;
}
